
    [Unit]
    Description=Very Simple Files Sync
    Requires=network-online.target
    After=network-online.target
    
    [Service]
    User=sakana
    Group=sakana
    
    Type=oneshot
    
    ExecStart=/home/sakana/Documents/code/py/VerySimpleFilesSynce-PY/main.py
    
    StandardOutput=journal
    StandardError=journal
    
    Restart=on-failure
    
    [Install]
    WantedBy=multi-user.target
    